<body>
    <h1> 设定条件已满足，请<a href="server22:8000/">登录系统</a>处理，谢谢配合。</h1>
    <h5> 如果您已经处理完毕，请忽略此邮件。本邮件由系统自动产生，请勿回复！</h5>

    <h3>活动： {{ .Event }} : {{ .Content }} </h3>
    <h3>设定条件： {{ .MatCode }} {{ .MatCond }}</h3>
    <h3>当前库存： {{ .Qty }}</h3>

</body>